@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model IPagedList<Jobs>

    <h1 class="h2">A list of you recent searches</h1>

    <div>
        @Html.PagedListPager(Model, page => Url.Action("MyJobs", new { page }),
        new PagedListRenderOptions
            {
            LiElementClasses = new[] { "page-item" },
            PageClasses = new[] { "page-link" }
        })
    </div>
    @{
        foreach (Jobs job in Model)
        {
            <div class="card col-12">
                <h5 class="card-header">@job.Title | for @job.Company</h5>

                <div class="card-body">

                    @if (!String.IsNullOrEmpty(job.Salary))
                    {
                        <h5 class="card-title salary">
                            @job.Salary
                        </h5>

                    }
                    else
                    {
                        <h5 class="card-title salary">
                            No salary details provided
                        </h5>
                    }
                    @*<h5 class="card-title salary">@job.Salary</h5>*@
                    <p class="card-text">@job.Description</p>
                    <a href="#" class="btn btn-primary text-right"><i class="fas fa-bookmark fa-lg"></i>Add to Favourites</a> <a href="@job.Url" class="btn btn-primary text-right">Go to Listing</a>
                </div>
            </div>
        }
        <div class="divider-lines"></div>
        <div>
            @Html.PagedListPager(Model, page => Url.Action("MyJobs", new { page }),
            new PagedListRenderOptions
                {
                LiElementClasses = new[] { "page-item" },
                PageClasses = new[] { "page-link" }
            })
        </div>
    }